* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome{
    width: 300px;
    height: 200px;
    border: 1px solid #04AA6D;
    border-radius: 40px;
    padding: 20px;
    position: relative;
}

.welcome h1{
    text-align: center;
}

.welcome .home-login-signup{
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.welcome .home-signup, .home-login{
    background: #04AA6D;
    color: #ffffff;
    padding: 10px;
    margin: 0 10px 0 10px;
    text-decoration: none;
}




.form-content{
    height: 500px;
    display: grid;
    place-items: center;
}

form{
    width: 500px;
    border: 1px solid #04AA6D;
    padding: 20px;
    border-radius: 30px;
}

/* Full-width input fields */
input[type=email],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Dashboard */
.main-container {
     width: 100%;
     height: 100vh;
     background-color: #f5f5f5;
     padding: 20px;
     position: relative;
}

.main-header {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    background: #ffffff;
    padding: 15px 10px;
}

.logo {
    width: 20%;
    margin-right: 40px;
    text-align: center;
    border-radius: 10px;
}

.search-bar {
    width: 60%;
    margin-right: 40px;
    border-radius: 10px;
}

input[name=search] {
    width: 100%;
    border: none;
    padding-left: 10px;
}

.seller {
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: #88c2bb;
    color: #ffffff;
}

.content {
    display: flex;
}

.side-navbar, .main-content, .side-content {
    height: 450px;
    background: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
}

.side-navbar {
    width: 20%;
    margin-right: 40px;
}

.nav-links {
    list-style: none;
    padding: 20px;
}

.nav-links li {
    margin-bottom: 20px;
}

.nav-links li .icons{
   margin-right: 10px;
}

.main-content {
    width: 60%;
    margin-right: 40px;
    padding: 20px;
}

.main-content img {
    width: 100%;
    height: 300px;
}


.side-content {
    width: 20%;
    padding: 10px;
}

.side-content img {
    width: 100%;
    margin-bottom: 10px;
}


/* Small screens */
@media screen and (max-width: 500px) {

    form {
        width: 100%;
        padding: 20px;
    }

    .form-content{
        height: 650px;
        padding: 20px;
    }
}

